<div class="row">
	
	<div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="(k,v) in comingSoomdata">
			<h4 class="text-center text-danger title-flim">{{v.title}}</h4>
			<a href="{{v.alt}}" target="_blank" class="img-a">
				<img ng-src="{{v.images.large}}" alt="" width="100%" height="380px" >
			</a>
			<p>类型:&nbsp;&nbsp;&nbsp;<span ng-repeat="t in v.genres">{{t}}&nbsp;</span></p>
			<p class="carts">主演:&nbsp;&nbsp;&nbsp;<span ng-repeat="c in v.casts"><a href="{{c.alt}}" target='_blank'>{{c.name}}</a></span></p>
	</div>
	<div class="row">
		<div class="col-md-12">
			  <ul class="pagination center-block page-divice">
			    <li>
			      <button id='pre' aria-label="Previous" class="btn btn-danger" ng-click="page(false,-1,1)">
			        <span aria-hidden="true">&laquo;</span>
			      </button>
			    </li>
			    <li><button class="btn btn-info page" ng-click="page(1,0,1)">1</button></li>
			    <li><button class="btn btn-info page" ng-click="page(2,0,1)">2</button></li>
			    <li><button class="btn btn-info page" ng-click="page(3,0,1)">3</button></li>
			    <li><button class="btn btn-info page" ng-click="page(4,0,1)">4</button></li>
			    <li><button class="btn btn-info page" ng-click="page(5,0,1)">5</button></li>
			   
			    <li>
			      <button id='next' aria-label="Next" class="btn btn-danger" ng-click="page(false,1,1)">
			        <span aria-hidden="true">&raquo;</span>
			      </button>
			    </li>
			  </ul>
			
		</div>
	</div>
	


</div>